*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#535353 ;
}
/* body{} */
main{
    width: 75%;
    margin: 0 auto;
    margin-top: 4rem;
}
.pokemonBox img{
    width: 300px;
}


/* css styling */
/* https://github.com/guidari/YT05-pokemon-simple-api/blob/master/styles.css */